* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial;
    font-size: 16px;
    font-weight: 300;
}

body {
    background-color: var(--bg-body);
}

li {
    list-style: none;
}

input,
button {
    border: none;
    outline: none;
    background: none;
}

input {
    height: 40px;
    border-radius: 50px;
    background-color: var(--bg-input);
}

i[data-visualcompletion="css-img"] {
    filter: var(--filter-icon);
}

a {
    text-decoration: none;
}

.link {
    font-size: .9rem;
}

.link--normal {
    &:hover {
        text-decoration: underline;
    }
}

.link--primary {
    color: var(--text-color-primary);
}

.link--button {
    padding: 9px 9.5px;
    border-radius: 4px;
    transition: var(--transition-hover);
    &:hover {
        background-color: var(--bg-button-hover);
    }
}

.hover-bg {
    transition: var(--transition-hover);
}

.hover-bg--faint {
    &:hover {
        background-color: var(--bg-li-hover);
    }
}

.radius--primary {
    border-radius: 4px;
}

.dark-shadow {
    box-shadow: 0 3px 12px -5px, inset 0 0 0 0;
}