* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Arial;
  font-size: 16px;
  font-weight: 300;
}

body {
  background-color: var(--bg-body);
}

li {
  list-style: none;
}

input,
button {
  border: none;
  outline: none;
  background: none;
}

input {
  height: 40px;
  border-radius: 50px;
  background-color: var(--bg-input);
}

i[data-visualcompletion="css-img"] {
  -webkit-filter: var(--filter-icon);
          filter: var(--filter-icon);
}

a {
  text-decoration: none;
}

.link {
  font-size: .9rem;
}

.link--normal:hover {
  text-decoration: underline;
}

.link--primary {
  color: var(--text-color-primary);
}

.link--button {
  padding: 9px 9.5px;
  border-radius: 4px;
  -webkit-transition: var(--transition-hover);
  transition: var(--transition-hover);
}

.link--button:hover {
  background-color: var(--bg-button-hover);
}

.hover-bg {
  -webkit-transition: var(--transition-hover);
  transition: var(--transition-hover);
}

.hover-bg--faint:hover {
  background-color: var(--bg-li-hover);
}

.radius--primary {
  border-radius: 4px;
}

.dark-shadow {
  -webkit-box-shadow: 0 3px 12px -5px, inset 0 0 0 0;
          box-shadow: 0 3px 12px -5px, inset 0 0 0 0;
}
/*# sourceMappingURL=common.css.map */