<template>
    <div class="nav-bar bg-nav">
        <div class="nav-bar__left" :class="{'bg-nav dark-shadow radius-bottom-left radius-bottom-right': activeSearchBox}">
            <div v-if="!activeSearchBox" class="logo">
                <router-link :to="{name: 'newsfeed'}">
                    <svg viewBox="0 0 36 36" class="a8c37x1j ms05siws hwsy1cff b7h9ocf4" fill="url(#jsc_s_3)" height="40" width="40"><defs><linearGradient x1="50%" x2="50%" y1="97.0782153%" y2="0%" id="jsc_s_3"><stop offset="0%" stop-color="#0062E0"></stop><stop offset="100%" stop-color="#19AFFF"></stop></linearGradient></defs><path d="M15 35.8C6.5 34.3 0 26.9 0 18 0 8.1 8.1 0 18 0s18 8.1 18 18c0 8.9-6.5 16.3-15 17.8l-1-.8h-4l-1 .8z"></path><path style="fill: #fff" d="M25 23l.8-5H21v-3.5c0-1.4.5-2.5 2.7-2.5H26V7.4c-1.3-.2-2.7-.4-4-.4-4.1 0-7 2.5-7 7v4h-4.5v5H15v12.7c1 .2 2 .3 3 .3s2-.1 3-.3V23h4z"></path></svg>
                </router-link>
            </div>
            <div :id="idBlockSearchBox" class="search-box" :class="{'search-box--full': activeSearchBox}">
                <div class="search-box__top">
                    <button v-if="activeSearchBox" class="search-box__btn-clear button button--circle button--small button--hover-bg" @click="activeSearchBox = false">
                        <i data-visualcompletion="css-img" class="hu5pjgll m6k467ps" style="background-image:url('https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/Cy0a7n82pdj.png');background-position:-133px -13px;background-size:189px 139px;width:20px;height:20px;background-repeat:no-repeat;display:inline-block"></i>
                    </button>
                    <div :id="idBlockInputSearch" class="search-box__input" :class="{'search-box__input-active': focusInputSearch, 'search-box__input-full': activeSearchBox}">
                        <i v-if="!focusInputSearch" @click="focusIntoInputSearch()" data-visualcompletion="css-img" class="hu5pjgll m6k467ps" style="background-image:url('https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/Cy0a7n82pdj.png');background-position:-51px -109px;background-size:189px 139px;width:16px;height:16px;background-repeat:no-repeat;display:inline-block"></i>
                        <input 
                            type="text" 
                            v-model="keyword" 
                            :placeholder="$t('searchOnPage')"
                            ref="inputSearch"
                            @focus="activeSearchBox = true; focusInputSearch = true" />
                    </div>
                </div>
                <SearchHistories
                    class="search-box__bottom"
                    v-if="activeSearchBox"
                    @select-key-search="search"
                    @focus-input-search="focusIntoInputSearch()" />
            </div>
        </div>
        <!-- <router-link v-for="menuItem in menu" :key="menuItem.name" :to="{name: menuItem.name}">
            {{ menuItem.label }}
        </router-link>
        <div>
            <button v-for="lang in languages" :key="lang" @click="changeLang(lang)">
                {{lang}}
            </button>
        </div> -->
    </div>
</template>

<script>
import {listLang} from '../../i18n.js'
import i18n from '../../i18n.js'
export default {
    data() {
        return {
            languages: listLang,
            menu: [
                {
                    name: 'friends',
                    key_lang: 'list_friends'
                },
                {
                    name: 'newsfeed',
                    key_lang: 'home_page'
                }
            ],
            activeSearchBox: false,
            focusInputSearch: false,
            keyword: '',
            searchHistories: [],
            idBlockSearchBox: 'block-search-box',
            idBlockInputSearch: 'block-input-search'
        }
    },
    created() {
        this.setLabelIntoMenuByLang()
        window.addEventListener('click', (e) =>{
            let isBlockSearchBox = false
            let idBlockSearchBox = this.idBlockSearchBox
            let isBlockInputSearch = false
            let idBlockInputSearch = this.idBlockInputSearch
            for (let index = 0; index < e.path.length; index++) {
                const element = e.path[index];
                if(typeof(element.getAttribute) == 'function'){
                    if(element.getAttribute('id') == idBlockSearchBox){
                        isBlockSearchBox = true;
                    }
                    if(element.getAttribute('id') == idBlockInputSearch){
                        isBlockInputSearch = true
                    }
                }
            }
            if(isBlockSearchBox == false){
                this.activeSearchBox = false
            }
            if(isBlockInputSearch == false){
                this.focusInputSearch = false
            }
        })
    },
    methods: {
        setLabelIntoMenuByLang(){
            this.menu.forEach((menuItem, index) =>{
                this.menu[index].label = this.$t(menuItem.key_lang)
            })
            this.$forceUpdate()
        },
        changeLang(lang){
            i18n.locale = lang
            this.setLabelIntoMenuByLang()
        },
        focusIntoInputSearch(){
            this.$refs.inputSearch.focus()
        },
        search(keyword){
            console.log(keyword);
        }
    },
}
</script>

<style lang="scss" scoped>
$bg-nav: var(--white);
$padding-top-bottom-nav-bar: 8px;
.bg-nav{
    background-color: $bg-nav;
}
.nav-bar{
    height: 56px;
    position: relative;
    border-bottom: 1px solid #333
}
$padding-left-right-nav-bar-left: 16px;
.nav-bar__left{
    display: flex;
    align-items: center;
    padding: 8px 16px 0;
    width: 360px;
}
.logo{
    margin-right: 8px;
    height: 40px;
}
.search-box{
    width: 280px;
}
.search-box--full{
    width: 100%;
    .search-box__top{
        margin-left: -8px;
        width: calc(100% + 8px);
    }
}
.search-box__top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search-box__btn-clear{
    margin-right: 8px;
}
.search-box__input{
    position: relative;
    width: 280px;
    i{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 12px;
        cursor: text;
    }
    input{
        padding: 0px 16px 0px 36px;
        width: 100%;
        font-size: 15px;
        color: var(--black);
        &::placeholder{
            color: var(--color-placeholder);
            font-size: 15px;
        }
    }
    &.search-box__input-active{
        input{
            padding-left: 16px;
        }
    }
    &.search-box__input-full{
        width: calc(100% - 44px);
    }

}
.search-box__bottom{
    // position: absolute;
    // top: calc(100% + #{$padding-top-bottom-nav-bar});
    // left: -#{$padding-left-right-nav-bar-left};
    // right: -#{$padding-left-right-nav-bar-left};
    margin: $padding-top-bottom-nav-bar -8px 0 0;
}
</style>