.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: none;
  -webkit-transition: var(--transition-hover);
  transition: var(--transition-hover);
}

.button--normal {
  width: 40px;
  height: 40px;
}

.button--small {
  width: 36px;
  height: 36px;
}

.button--mini {
  width: 28px;
  height: 28px;
}

.button--circle {
  border-radius: 50%;
}

.button--bg {
  background-color: var(--bg-button);
}

.button--hover-bg:hover {
  background-color: var(--bg-button-hover);
}

.button--icon {
  background-color: var(--bg-button-icon);
}
/*# sourceMappingURL=button.css.map */