.radius--primary {
  border-radius: 8px;
}

.radius-top-left {
  border-top-left-radius: 8px;
}

.radius-top-right {
  border-top-right-radius: 8px;
}

.radius-bottom-left {
  border-bottom-left-radius: 8px;
}

.radius-bottom-right {
  border-bottom-right-radius: 8px;
}

.cursor-point {
  cursor: pointer;
}
/*# sourceMappingURL=lib.css.map */