$radius-block: 8px;
.radius--primary {
    border-radius: $radius-block;
}

.radius-top-left {
    border-top-left-radius: $radius-block;
}

.radius-top-right {
    border-top-right-radius: $radius-block;
}

.radius-bottom-left {
    border-bottom-left-radius: $radius-block;
}

.radius-bottom-right {
    border-bottom-right-radius: $radius-block;
}

.cursor-point {
    cursor: pointer;
}