:root {
  --white: white;
  --black: black;
  --gray: #fafafa;
  --filter-icon: none;
  --bg-input: #f0f2f5;
  --color-placeholder: #999;
  --bg-body: #f0f2f5;
  --text-color: black;
  --bg-button: #e4e6eb;
  --bg-button-hover: rgba(0, 0, 0, .1);
  --text-color: #000;
  --text-color-primary: #4599ff;
  --bg-button-icon: #f0f2f5;
  --bg-li-hover: rgba(68, 73, 80, .15);
  --transition-hover: all .1s;
}

[data-theme="dark"] {
  --white: #242526;
  --black: white;
  --gray: black;
  --filter-icon: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg) brightness(90%) contrast(96%);
  --bg-input: rgba(255, 255, 255, .1);
  --color-placeholder: #999;
  --bg-body: #18191a;
  --text-color: white;
  --bg-button: rgba(255, 255, 255, .2);
  --bg-button-hover: rgba(255, 255, 255, .1);
  --text-color: #e4e6eb;
  --text-color-primary: #4599ff;
  --bg-button-icon: #18191a;
  --bg-li-hover: rgba(68, 73, 80, .15);
}
/*# sourceMappingURL=switch-mode.css.map */