<template>
    <div>
        <top></top>
        <transition name="fade-view">
            <router-view></router-view>
        </transition>
        <bottom></bottom>
        <ToggleSwitchTheme />
    </div>
</template>

<script>
export default {
}
</script>