<template>
    <div v-if="listHistories.length" class="search-histories">
        <div class="search-histories__top">
            <h2>{{ $t('searchHistoryTitle') }}</h2>
            <router-link :to="{name: 'newsfeed'}" class="link link--primary link--button">
                {{ $t('edit') }}
            </router-link>
        </div>
        <div class="search-histories__bottom">
            <ul class="search-history__list">
                <li
                    v-for="(his_search_item, index) in listHistories"
                    :key="index"
                    class="search-history__item hover-bg hover-bg--faint radius--primary">
                    
                    <router-link v-if="his_search_item.isResult" :to="{name: 'friends'}">
                        <div class="search-history__logo">
                            <img :src="his_search_item.result.image" :alt="his_search_item.result.name">
                        </div>
                        <div class="search-history__text">
                            {{ his_search_item.result.name }}
                        </div>
                    </router-link>
                    <a v-else :href="false" class="cursor-point" @click="$emit('select-key-search', his_search_item.keyword)">
                        <div class="search-history__logo">
                            <div class="button button--small button--icon button--circle">    
                                <i data-visualcompletion="css-img" class="hu5pjgll m6k467ps" style="background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yA/r/MZn0VXugAm6.png'); background-position: 0px -193px; background-size: 25px 468px; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>
                            </div>
                        </div>
                        <div class="search-history__text">
                            {{ his_search_item.keyword }}
                        </div>
                    </a>
                    
                    <div class="search-history__icon">
                        <button class="button button--mini button--circle button--hover-bg" @click="removeItemSearchHistory(index)">
                            <i data-visualcompletion="css-img" class="hu5pjgll m6k467ps" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yt/r/_X6w2-dMde7.png&quot;); background-position: -151px -71px; background-size: 189px 179px; width: 12px; height: 12px; background-repeat: no-repeat; display: inline-block;"></i>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            listHistories: [
                {
                    isResult: true,
                    result: {
                        name: 'JsLand (Cộng đồng Javascript lớn nhất Việt Nam)',
                        image: 'https://scontent.fhan14-2.fna.fbcdn.net/v/t1.6435-9/cp0/c280.0.1105.1105a/s75x225/38910105_2069992663315032_3010921900135153664_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=70495d&_nc_ohc=7vN4L9SchYYAX8badMg&_nc_ht=scontent.fhan14-2.fna&oh=8feebff58ea4aa71677512162bbef41b&oe=615A8D7A'
                    },
                    type: 'group'
                },
                {
                    isResult: true,
                    result: {
                        name: 'Thoa Phạm',
                        image: 'https://scontent.fhan14-2.fna.fbcdn.net/v/t1.6435-1/cp0/p50x50/223678693_385087766346292_3561639689232410774_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=41a7af&_nc_ohc=T_bvQ42Zo4wAX8PCR9L&tn=4pKdJFA9tRvukTTh&_nc_ht=scontent.fhan14-2.fna&oh=20f95941c235022c6182872cfc1cae60&oe=615B9FC6'
                    },
                    type: 'profile'
                },
                {
                    keyword: 'toa an vtc',
                    isResult: false,
                    type: 'key-word'
                },
                {
                    isResult: true,
                    result: {
                        name: 'FPT Telecom',
                        image: 'https://scontent.fhan14-1.fna.fbcdn.net/v/t31.18172-1/cp0/p74x74/25440000_1589977904374545_7627645645638089283_o.png?_nc_cat=1&ccb=1-5&_nc_sid=1eb0c7&_nc_ohc=s1D41LRwsGoAX9-GvYc&_nc_ht=scontent.fhan14-1.fna&oh=b2321d19a4803306d7ebb5a9db9780db&oe=61597B9D'
                    },
                    type: 'fan-page'
                }
            ]
        }
    },
    methods: {
        removeItemSearchHistory(index){
            this.listHistories.splice(index, 1)
            if(!this.listHistories.length){
                this.$emit('focus-input-search')
            }
        }
    },
}
</script>

<style lang="scss" scoped>
.search-histories{
    padding: 8px 0;
}
.search-histories__top{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    >h2{
        color: var(--text-color);
        font-size: 1.1rem;
        font-weight: normal;
    }
}
.search-history__list{
    margin-top: 3px;
}
.search-history__item{
    position: relative;
    margin-left: -8px;
    padding: 8px;
    >a{
        display: flex;
        align-items: center;
    }
}
.search-history__logo{
    width: 36px;
    height: 36px;
    img{
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }
}
.search-history__text{
    color: var(--text-color);
    margin-left: 12px;
    padding-right: 32px;
    font-size: .9rem;
    line-height: 1.2rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
}
.search-history__icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
}

</style>