<template>
    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" :checked="isDarkMode" v-model="isDarkMode" @change="setMode" />
            <div class="slider round"></div>
        </label>
    </div>
</template>

<script>
export default {
    data() {
        return {
            isDarkMode: true
        }
    },
    created() {
        this.setMode()
    },
    methods: {
        setMode(){
            document.getElementsByTagName('html')[0].setAttribute('data-theme', this.isDarkMode ? 'dark' : 'light')
        }
    },
}
</script>

<style scoped>
    .theme-switch-wrapper {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 1000;
    }
    .theme-switch {
        display: inline-block;
        height: 34px;
        position: relative;
        width: 60px;
    }
    .theme-switch input {
        display:none;
    }
    .slider {
        background-color: #999;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .4s;
    }
    .slider:before {
        background-color: white;
        bottom: 4px;
        content: "";
        height: 26px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 26px;
    }
    input:checked + .slider {
        background-color: #000;
    }
    input:checked + .slider:before {
        transform: translateX(26px);
    }
    .slider.round {
        border-radius: 34px;
    }
    .slider.round:before {
        border-radius: 50%;
    }
</style>